body{
   color: white;
}


.border{
   border: 5px white solid;
   display: flex;
   justify-content: center;
   max-width: 700px;
   margin: 0 auto;
   padding: 20px;
   gap: 20px;
   margin-top: 20px;
   border-radius: 10px;
   background-color: black;
   }
   
   
   .card{
      margin: 50px;
      text-align: center;
   }
   
   .search{
      padding: 10px;
      border: 2px solid white;
      border-radius: 10px;
      width: 300px;
      font-size: 16px;
      
      
   }
   
   .search:hover{
      border-color: black;
   }

   .checkbox{
      text-align: center;
   }